# Exclude everything
/*

# Project files
!/.github
!/build-aux
!/cmake
!/data
!/docs
!/src
!/profiles
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md

# Docs and planning
!/docs/**
!/profiles/**
!/.github/**

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber

# Personal mask assets
/profiles/**/*.png
/profiles/**/*.psd
